h1 {
  font-weight: 300;
  color: $white;
  margin: 0 0 2rem;
  font-size: 4rem;
  line-height: 1.1;

  @include breakpoint(large) {
    font-size: 7rem;
  }
}

h2 {
  color: $silver;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: calc(100px + 2rem);
  margin-top: 0;

  &:after {
    content: '';
    height: 100px;
    width: 1px;
    background: $silver;
    position: absolute;
    left: 1px;
    top: 2em;
  }
}

h3 {
  font-size: 2rem;
  display: inline-block;
  margin: 0 0 1rem;
  font-weight: 300;
  position: relative;

  @include breakpoint(medium) {
    font-size: 3rem; 
  }
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 0rem;
}

small {
  font-size: 0.88rem;
  color: $silver;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: block;
  line-height: 1.7;
  margin-bottom: 2rem;

  @include breakpoint(large) {
    font-size: 1rem;
  }

  .black & {
    color: $charcoal;
  }
}

a {
  text-decoration: none;
  color: $white;
  transition: all .15s;

  &:hover {
    // border-bottom: 1px solid $white;
    color: $silver;
  }
}

p {
  line-height: 1.7;
  font-size: 1.125rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 1rem;
    line-height: 1.7;
    font-size: 1.125rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#personal ul li {
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.4;
}