.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

.txt-left { text-align: left; }
.txt-right { text-align: right; }
.txt-center { text-align: center; }

.fleft { float: left; }
.fright { float: right; }

.visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.black { background: $black; }
.white { background: $white; }
.eggshell { background: $eggshell; }

.valign {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}